In [2]:
l=[i for i in range (1,1000) if i%7==0]
print(l)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

In [3]:
l=[i for i in range (1,1000) if '3' in str(i)]
print(l)

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93, 103, 113, 123, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 143, 153, 163, 173, 183, 193, 203, 213, 223, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 243, 253, 263, 273, 283, 293, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 403, 413, 423, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 443, 453, 463, 473, 483, 493, 503, 513, 523, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 543, 553, 563, 573, 583, 593, 603, 613, 623, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 643, 653, 663, 673, 683, 693, 703, 713, 723, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 743, 753, 763, 773, 783, 793, 803, 813, 823, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 843, 853, 863, 873, 883, 893, 903, 913, 923, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 943, 953, 963, 973, 983, 993]

In [81]:
s="Mahesh Yedoti From Lpu"
l=[i for i in s if i==' ']

print(len(l))
s = "Mahesh is learning Python now!! 123"
l= sum([1 for ch in s if not ch.isalnum() and ch == " "])
print("Number of spaces:", l)

3
Number of spaces: 5

In [29]:
s="Mahesh Yedoti From Lpu"
a=''.join(s.split())
print(a)
l=[i for i in s if i not in ['a','e','i','o','u'] and ['A','E','I','O','U']]
print(l)

MaheshYedotiFromLpu
['M', 'h', 's', 'h', ' ', 'Y', 'd', 't', ' ', 'F', 'r', 'm', ' ', 'L', 'p']

In [39]:
l=["Mahesh", "Yedoti", "From", "Lpu"]

ans = [(i, val) for i, val in enumerate(l)]
ans2 = [(i,l[i]) for i in range(0,len(l))]
print(ans)
print(ans2)

[(0, 'Mahesh'), (1, 'Yedoti'), (2, 'From'), (3, 'Lpu')]
[(0, 'Mahesh'), (1, 'Yedoti'), (2, 'From'), (3, 'Lpu')]

In [36]:
a=[1,2,3,4]
b=[2,3,6,7]
l=[i for i in a if i in b]
print(l)

[2, 3]

In [ ]:
l="My name is Mahesh Yedoti 18 from 2076 my bath 2024"
a=l.split()
t=[i for i in a if i.isdigit()]
print(t)

['My', 'name', 'is', 'Mahesh', 'Yedoti', '18', 'from', '2076', 'my', 'bath', '2024']
18
2076
2024
['18', '2076', '2024']

In [63]:
l = ["odd" if i % 2 != 0 else "even" for i in range(1,20)]
print(l)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [69]:
a=[1,2,3,4,5,6,7,8,9,10]
b=[2,3,4,5,6]
l=[]
for i in range(len(a)):
    if a[i] in b:
        l.append((a[i],a[i]))
print(l)

ans=[(i,i) for i in a if i in b]
print(ans)

[(2, 2), (3, 3), (4, 4), (5, 5), (6, 6)]
[(2, 2), (3, 3), (4, 4), (5, 5), (6, 6)]

In [ ]:
l="my name is mahesh i am from lpu"

temp=[i for i in l.split()]
ans=[i for i in temp if len(i)<4]
print(ans)

['my', 'is', 'i', 'am', 'lpu']

In [80]:

l = [1, 2, [3, 4], [5, 6, [7, 8]]]
print(l)
print(len(l))
for i in range(len(l)):
    print(l[i])

[1, 2, [3, 4], [5, 6, [7, 8]]]
4
1
2
[3, 4]
[5, 6, [7, 8]]

# Dict Comprehension

In [86]:
a=[1,2,3,4]
b=["Mahesh","Tarak","Lpu","Cse"]

ans=dict((a[i],b[i]) for i in range(len(a)))
print(ans)

{1: 'Mahesh', 2: 'Tarak', 3: 'Lpu', 4: 'Cse'}

In [94]:
a=ans
out=dict((value,key) for key,value in a.items())
print(out)

{'Mahesh': 1, 'Tarak': 2, 'Lpu': 3, 'Cse': 4}

In [ ]:
a="banana"
ans=dict()
for i in a:
   
    if i not in ans:
        ans[i]=1
    else:
        ans[i]+=1
print(ans)
a="banana"
ans=dict((i,value))
print(ans)

# a = "banana"
# ans = {char: a.count(char) for char in set(a)}
# print(ans)

{'b': 1, 'a': 3, 'n': 2}

# Map

In [102]:
a=[1,2,3,4]
ans=list(map(lambda x:x**2,a))
print(ans)

[1, 4, 9, 16]

In [103]:
l=["Mahesh","Tarak"]

ans=list(map(lambda x:x.upper(),l))
print(ans)

['MAHESH', 'TARAK']

In [109]:
a=[1,2,3,4,5]
b=[10,20,30,40,50]
c=[100,200,300,400,500]
ans=list(map(lambda x,y,z:x+y+z,a,b,c))
print(ans)

[111, 222, 333, 444, 555]

In [107]:
a=[1,2,3,4,5,6]
ans=list(filter(lambda x:x%2==0,a))
print(ans)

[2, 4, 6]

In [115]:
a="my name is mahesh from lpu"
l=a.split()
print(l)
ans=list(filter(lambda x:len(x)>4,l))
print(ans)

['my', 'name', 'is', 'mahesh', 'from', 'lpu']
['mahesh']

In [117]:
l=["mahesh"," ",None,True,"tarak"]

ans=list(filter(None,l))
print(ans)

['mahesh', ' ', True, 'tarak']

In [134]:
def Prime(n):
    for i in range(2,n):
        if n%i==0:
            return False
    return True


l=[2,3,4,5,6,7]
ans=list(filter(Prime,l))
print(ans)

[2, 3, 5, 7]

In [141]:
from functools import reduce 
l=["my","name","is","Mahesh"]

ans=reduce(lambda a,b:a+" "+b,l )
print(ans)

my name is Mahesh

In [145]:
from functools import reduce

l = [2, 1, 4, 3, 8]

ans = reduce(lambda x, y: x if x > y else y, l)
print(ans)

8

In [146]:
import math
l=[1,2,3,4,5]
print(math.ceil(4.5))

5

In [148]:
import time
seconds = time.time()

print("Seconds since epoch =", seconds)	


# convert the time in seconds since the epoch to a readable format
local_time = time.ctime(seconds)

print("Local time:", local_time)

Seconds since epoch = 1744023837.4853253
Local time: Mon Apr  7 16:33:57 2025

In [149]:
import time

result = time.localtime(1672214933)
print("result:", result)
print("\nyear:", result.tm_year)
print("tm_hour:", result.tm_hour)

result: time.struct_time(tm_year=2022, tm_mon=12, tm_mday=28, tm_hour=13, tm_min=38, tm_sec=53, tm_wday=2, tm_yday=362, tm_isdst=0)

year: 2022
tm_hour: 13

In [151]:
lt = time.localtime()
print(lt) 
print(lt.tm_year)

time.struct_time(tm_year=2025, tm_mon=4, tm_mday=7, tm_hour=16, tm_min=45, tm_sec=26, tm_wday=0, tm_yday=97, tm_isdst=0)
2025

In [152]:
import time

result = time.gmtime(1672214933)
print("result:", result)
print("\nyear:", result.tm_year)
print("tm_hour:", result.tm_hour)

result: time.struct_time(tm_year=2022, tm_mon=12, tm_mday=28, tm_hour=8, tm_min=8, tm_sec=53, tm_wday=2, tm_yday=362, tm_isdst=0)

year: 2022
tm_hour: 8

In [153]:
import time

t = time.localtime()

result = time.asctime(t)
print("Result:", result)

# Output: Result: Fri Dec 28 08:44:04 2022

Result: Mon Apr  7 16:56:28 2025

In [154]:
start = time.process_time()
x = sum([i for i in range(100000)])
end = time.process_time()
print("CPU Time:", end - start)

CPU Time: 0.0

# DATE TIME

In [156]:
import datetime

now = datetime.datetime.now()
print("Current Date and Time:", now)

Current Date and Time: 2025-04-07 17:18:13.622265

In [157]:
today = datetime.date.today()
print("Today's date:", today)

current_time = datetime.datetime.now().time()
print("Current time:", current_time)

Today's date: 2025-04-07
Current time: 17:18:23.711758

In [158]:
dt = datetime.datetime(2025, 4, 7, 12, 30)
print("Custom DateTime:", dt)

Custom DateTime: 2025-04-07 12:30:00

In [162]:
now = datetime.datetime.now()

print(now.strftime("%Y-%m-%d"))  # 2025-04-07
print(now.strftime("%A"))        # Monday
print(now.strftime("%I:%M %p"))  # 03:30 PM

2025-04-07
Monday
05:24 PM

In [160]:
today = datetime.date.today()
tomorrow = today + datetime.timedelta(days=1)
print("Tomorrow:", tomorrow)

diff = tomorrow - today
print("Days Difference:", diff.days)

Tomorrow: 2025-04-08
Days Difference: 1

In [165]:
t=datetime.datetime.now()
print(t)
print(t.strftime("%d-%m-%Y"))

2025-04-07 17:29:51.560184
07-04-2025

In [168]:
import datetime

# Your birth date (replace with your actual birthday)
birth_month = 6
birth_day = 18

# Today's date
today = datetime.date.today()
current_year = today.year

# Your birthday this year
next_birthday = datetime.date(current_year, birth_month, birth_day)


# Calculate the difference
days_left = (next_birthday - today).days

print("Days left until your next birthday:", days_left)

Days left until your next birthday: 72

In [175]:
import random
import string

l={}
for i in range(10):
    allowed_chars = "abcdefghijklmopqrstuvwxyz"
    numbers="0123456789"
    
    name = ''.join(random.choices(allowed_chars, k=random.randint(5, 9)))
    age=random.randint(18,60)
    num=''.join(random.choices(numbers,k=10))
    mail=''.join(random.choices(name,k=7))
    cmail=mail+'@gamil.com'

    l[i + 1] = {"Name": name,"Age": age,"Phone": num,"Email":cmail}
print(l)

{1: {'Name': 'hticgd', 'Age': 46, 'Phone': '2705949476', 'Email': 'tcgdhgi@gamil.com'}, 2: {'Name': 'etief', 'Age': 58, 'Phone': '7526935252', 'Email': 'eeifeet@gamil.com'}, 3: {'Name': 'pygax', 'Age': 32, 'Phone': '3908622079', 'Email': 'pyygyax@gamil.com'}, 4: {'Name': 'qpbgtgdee', 'Age': 44, 'Phone': '7734847837', 'Email': 'gpggtee@gamil.com'}, 5: {'Name': 'vegfe', 'Age': 52, 'Phone': '6320323989', 'Email': 'fvfeeeg@gamil.com'}, 6: {'Name': 'dascdmxe', 'Age': 45, 'Phone': '7428064748', 'Email': 'sdcmdad@gamil.com'}, 7: {'Name': 'waoqfee', 'Age': 54, 'Phone': '1793746154', 'Email': 'eeqqewf@gamil.com'}, 8: {'Name': 'lwjqtus', 'Age': 54, 'Phone': '1622488597', 'Email': 'lswtwlq@gamil.com'}, 9: {'Name': 'bfatvw', 'Age': 29, 'Phone': '7454578493', 'Email': 'wfbwabv@gamil.com'}, 10: {'Name': 'hhbcco', 'Age': 33, 'Phone': '8448971096', 'Email': 'hobhhoo@gamil.com'}}